@use "../styles/colors.scss" as colors;

.container {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50px;
	left: 50px;

	& .button {
		width: 100%;
		height: 100%;
		background-color: transparent;
		border: none;
		cursor: pointer;

		&:focus {
			outline: none;
		}

		& .hamburger {
			fill: none;
			stroke: colors.$accents;
			stroke-width: 6px;
		}

		.line {
			stroke-dasharray: 50 100;
			stroke-dashoffset: 0;
			transition: stroke-dasharray 0.3s ease-in-out,
				stroke-dashoffset 0.3s ease-in-out;
		}

		.clicked > .line {
			stroke-dasharray: 56.56 1000;
			stroke-dashoffset: -56.56;
		}

		.clicked > .midline {
			stroke-dasharray: 1 1000;
			stroke-dashoffset: -20;
		}
	}
}
